#jumbotron {
  background-image: url("https://is3-ssl.mzstatic.com/image/thumb/Purple124/v4/a8/d2/9b/a8d29b4c-1986-ec00-d14a-28ec2730d745/AppIcon-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-9.png/246x0w.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  background: linear-gradient(60deg, #db6a3d, #ee8530, #e64d4d);
  background-repeat: no-repeat;
}
